---
import '@/style/calender.scss'
import './main.sass'
import MainLayout from '@/layout/MainLayout.astro'
---
<MainLayout>
<main>        
    <div id="input_tanggal">
        <input type="text" id="input_tanggal_ke_1" name="input_tanggal_ke_1" placeholder="Tanggal dari" />
        <input type="text" id="input_tanggal_ke_2" name="input_tanggal_ke_2" placeholder="Tanggal ke" />
        <input type="text" id="input_keterangan" name="input_keterangan" placeholder="Keterangan" />
        <input type="text" name="input_nominal_per_hari" id="input_nominal_per_hari" placeholder="Nominal" />
        <button id="button_hitung">Hitung</button>
        <ul id="loader_hasil"></ul>
    </div>
</main>
</MainLaout>

<script>
    import datepicker from "js-datepicker";
    import { Rupiah } from "@/utils/main";
    window.addEventListener("DOMContentLoaded", () => {
        const addLeadingZero = (num: number) => (num < 10 ? "0" + num : num);
        const konpigurasi_tanggal_date_picker = (input: HTMLInputElement, date: Date, instance: any) => {
            const tahun = date.getFullYear();
            const bulan = addLeadingZero(date.getMonth() + 1);
            const hari = addLeadingZero(date.getDate());
            input.value = `${tahun}-${bulan}-${hari}`;
        }
        const kustom_hari_date_picker: [string, string, string, string, string, string, string] = ['M', 'Sen', 'Sel', 'R', 'K', 'J', 'S'];
        const date_picker1 = datepicker("#input_tanggal_ke_1", { customDays: kustom_hari_date_picker, formatter: konpigurasi_tanggal_date_picker});
        const date_picker2 = datepicker("#input_tanggal_ke_2", { customDays: kustom_hari_date_picker, formatter: konpigurasi_tanggal_date_picker});
        const input_tanggal_ke_1 = document.getElementById("input_tanggal_ke_1") as HTMLInputElement;
        const input_tanggal_ke_2 = document.getElementById("input_tanggal_ke_2") as HTMLInputElement;
        const input_nominal_per_hari = document.getElementById("input_nominal_per_hari") as HTMLInputElement;
        const input_keterangan = document.getElementById("input_keterangan") as HTMLInputElement;
        const button_hitung = document.getElementById("button_hitung");

        button_hitung?.addEventListener("click", () => {
            const dari_tanggal = new Date(input_tanggal_ke_1.value);
            const ke_tanggal = new Date(input_tanggal_ke_2.value);
            if ( input_tanggal_ke_1.value === '' || input_tanggal_ke_2.value === '' || input_nominal_per_hari.value === '' ) return alert('mohon isi semua input!')
            const hitung_selisih_dengan_milidetik = Math.abs(dari_tanggal.getTime() - ke_tanggal.getTime());
            const mili_detik_per_hari = 1000 * 60 * 60 * 24;
            const total_hari_dari_tanggal_1_ke_2 = hitung_selisih_dengan_milidetik / mili_detik_per_hari + 1;
            localStorage.setItem('input_keterangan', `${input_keterangan.value}`)
            const loader_hasil = document.getElementById("loader_hasil");
            const nominal_local = Number(localStorage.getItem("input_nominal_per_hari"));
            const keterangan_dari_localstorage = localStorage.getItem('input_keterangan')
            const nominal_dikali_per_hari = nominal_local * total_hari_dari_tanggal_1_ke_2;
            const li = document.createElement("li");
            li.innerHTML = `<i>${keterangan_dari_localstorage} dalam <code>${total_hari_dari_tanggal_1_ke_2}</code> hari</i><b>Total yang di dapat: Rp ${Rupiah(nominal_dikali_per_hari)}</b>`
            loader_hasil?.appendChild(li)
            Array.from(document.getElementsByTagName('input')).forEach(element  => {
                element.value = ''
            })
        });

        input_nominal_per_hari?.addEventListener("change", () => {
            const cek_input_nominal = /[^0-9]/
            const tidak_lolos_cek = cek_input_nominal.test(input_nominal_per_hari.value)
            if (tidak_lolos_cek) {
                alert('pastikan hanya angka');
                input_nominal_per_hari.value = ''
            }
            const nominalSebagaiNumber: number = Number(input_nominal_per_hari?.value);
            localStorage.setItem("input_nominal_per_hari", `${nominalSebagaiNumber}`);
            input_nominal_per_hari.value = Rupiah(nominalSebagaiNumber)
        });
    });
</script>
